set editing-mode vi
set keymap vi

set show-mode-in-prompt On

set vi-cmd-mode-string "\1\e[1;35m\2((cmd))\1\e[0m\2"
set vi-ins-mode-string "\1\e[1;36m\2((ins))\1\e[0m\2"

# Control-k: previous-history
# Control-j: next-history
# Control-l: forward-char 
# Control-h: backward-char 
